/********************************** GENERAL *************************************/

* {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: black;
}
a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

/********************************** NAVIGATION BAR *************************************/

.navigation-bar {
  background-color: #ffffff;
  overflow: auto;
  padding: 20px 10px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
}
.navigation-bar a {
  float: left;
  text-align: right;
  padding: 12px;
  font-size: 15px;
  color: black;
  line-height: 10px;
  border-radius: 10px;
}
.navigation-bar a.logo {
  font-size: 40px;
  font-weight: bold;
}
.navigation-bar a.active {
  background-color: #f6d601;
  border-radius: 50px;
}
/*
.navigation-bar__right {
  float: right;
  padding-right: 10px;
  font-weight: lighter;
  font-size: 10px;
}
.navigation-bar__right a {
  float: right;
  padding-right: 10px;
  font-weight: lighter;
  font-size: 10px;
  display: inline-table;
}*/
.navigation-bar__right {
  float: right;
  font-weight: lighter;
  font-size: 10px;
  display: inline-table;
  padding: 10px;
}

.navigation-bar__right:hover {
  background-color: #f6d601;
  border-radius: 60px;
}

/********************************** FIRST BACKGROUND *************************************/

.about-container {
  background-image: url("/images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 104vh;
}
p.about-container__headline {
  color: #ffffff;
  font-size: 78px;
  padding-top: 132px;
  padding-bottom: 45px;
}
p.about-container__titles {
  color: #f6d601;
  font-size: 43px;
  padding-bottom: 20px;
  font-weight: bold;
  margin: 0px;
}
p.about-container__description {
  color: #ffffff;
  font-size: 18px;
  padding-right: 90px;
  padding-left: 90px;
  padding-top: 10px;
}
a.about-container__button {
  float: 10px;
  font-size: 17px;
  color: black;
  background-color: #ffffff;
  overflow: auto;
  padding: 17px 63px;
  width: fit-content;
  text-decoration: none;
  font-weight: bold;
}

/********************************** SECOND BACKGROUND *************************************/

.car-types-container {
  background-color: #ffffff;
  background-size: cover;
  height: 104vh;
}
p.car-types-container__title {
  padding-bottom: 20px;
  font-weight: bold;
  margin: 0px;
  font-size: 51px;
  padding-top: 60px;
}
p.car-types-container__description {
  font-size: 18px;
  padding-right: 90px;
  padding-left: 90px;
  padding-top: 10px;
}
div.car-types-container__cars-placement {
  float: left;
  width: 33.33%;
  padding: 40px;
  padding-top: 70px;
}
span.car-types-container__cars-names {
  background-color: #f6d601;
  font-weight: bold;
  font-size: 30px;
  padding: 25px;
  display: inline-block;
  width: 31%;
  padding: 25px;
  outline: #f6d601 solid;
}
