/********************************** GENERAL *************************************/

* {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  color: black;
}
a {
  text-decoration: none;
}

/********************************** NAVIGATION BAR *************************************/

.navigation-bar {
  background-color: #ffffff;
  overflow: auto;
  padding: 20px 10px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.navigation-bar a {
  float: left;
  text-align: right;
  padding: 12px;
  font-size: 15px;
  color: black;
  line-height: 10px;
  border-radius: 10px;
}
.navigation-bar a.logo {
  font-size: 40px;
  font-weight: bold;
}
.navigation-bar a.active {
  background-color: #f6d601;
  border-radius: 50px;
}
.navigation-bar__right {
  float: right;
  font-weight: lighter;
  font-size: 10px;
  display: inline-table;
  padding: 10px;
}
.navigation-bar__right:hover {
  background-color: #f6d601;
  border-radius: 60px;
}

/********************************** ABOUT CONTAINER *************************************/

.about-container {
  background-image: url("/images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 104vh;
}
p.about-container__headline {
  color: #ffffff;
  font-size: 78px;
  padding-top: 132px;
  padding-bottom: 45px;
}
p.about-container__titles {
  color: #f6d601;
  font-size: 43px;
  padding-bottom: 20px;
  font-weight: bold;
  margin: 0px;
}
p.about-container__description {
  color: #ffffff;
  font-size: 18px;
  padding-right: 90px;
  padding-left: 90px;
  padding-top: 10px;
}
a.about-container__button {
  font-size: 17px;
  color: black;
  background-color: #ffffff;
  overflow: auto;
  padding: 17px 63px;
  width: fit-content;
  text-decoration: none;
  font-weight: bold;
}

/********************************** CAR TYPES CONTAINER *************************************/

.car-types-container {
  background-color: #ffffff;
  background-size: cover;
  height: 104vh;
}
p.car-types-container__title {
  padding-bottom: 20px;
  font-weight: bold;
  margin: 0px;
  font-size: 51px;
  padding-top: 60px;
}
p.car-types-container__description {
  font-size: 18px;
  padding-right: 90px;
  padding-left: 90px;
  padding-top: 10px;
}
div.car-types-container__cars-placement {
  float: left;
  width: 33.33%;
  padding: 40px;
  padding-top: 70px;
}
span.car-types-container__cars-names {
  background-color: #f6d601;
  font-weight: bold;
  font-size: 30px;
  padding: 25px;
  display: inline-block;
  width: 31%;
  padding: 25px;
  outline: #f6d601 solid;
}

/********************************** FIND CAR CONTAINER *************************************/

.find-car-container {
  background-image: url("/images/bg.jpg");
  height: 124vh;
  background-size: cover;
}
.find-car-container__search-box {
  position: relative;
  float: right;
  background-color: #ffffff;
  color: #000000;
  width: 35vw;
  font-size: 25px;
  height: 97vh;
  right: 60px;
  top: 100px;
}
.find-car-container__search-box__labels {
  padding: 30px 30px 0;
  display: block;
  text-align: left;
  width: max-content;
}
.find-car-container__search-box__input {
  padding: 15px 0 15px 0;
  width: 437px;
  display: block;
  text-align: left;
  margin: 10px 30px 0;
  border: solid 1px #acacac;
  font-size: 18px;
  color: #acacac;
}
.find-car-container__search-box__title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 50px 0 30px;
}
.find-car-container__search-box__find {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 40px;
  border: 1px solid black;
  margin: 25px;
  font-size: 20px;
}
.find-car-container__search-box__find:hover {
  cursor: pointer;
}

/********************************** CALL NOW CONTAINER *************************************/

.call-now-container {
  background-color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 65px;
}
.call-now-container__header {
  color: #000000;
  text-transform: uppercase;
}
.call-now-container__phone-number {
  padding: 10px;
  color: #414141;
  padding: 5px 0 35px;
}
.call-now-container__description {
  padding: 10px;
  color: #414141;
}

/********************************** WHY CHOOSE US CONTAINER *************************************/

.choose-us-container {
  background-color: #ffffff;
  outline: #414141 solid 5px;
  height: fit-content;
  padding: 100px 0;
}
.choose-us-container__title {
  text-transform: uppercase;
  color: #414141;
  font-weight: bold;
  font-size: 50px;
  padding: 0 0 30px;
}
.choose-us-container__description {
  color: #414141;
  font-size: 20px;
  padding: 0 240px;
}
.choose-us-container__circle {
  color: #ffffff;
  background-color: #414141;
  border: #f6d601 solid 5px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 25px;
  margin: 35px 50%;
}

/********************************** FOOTER *************************************/

footer {
  background-color: #414141;
  color: #ffffff;
  text-transform: capitalize;
  padding: 25px;
  font-size: 20px;
}
